<!DOCTYPE html>

<html lang="fr">

    <head>
        <title>Indice de fragilité numérique | INR</title>
        <link rel="stylesheet" href="http://{{ baseUrl }}/assets/css/style.css"/>
        <link rel="icon" type="image/ico" href="http://{{ baseUrl }}/assets/images/favicon.ico"/>
    </head>

    <body>

        <header id="header" class="header-extended">
            <img src="http://{{ baseUrl }}/assets/images/logo-inr.png" alt="INR" class="logo"/>

            <div class="search-bloc">
                <div id="search_input_container"></div>
                <div id="search_result_container"></div>
            </div>

        </header>

        <div class="content stats" id="stats">
            <div id="city_statistic_container"></div>
        </div>

        <footer>
            <p>Site réalisé par <b>l'équipe 48</b>.</p>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
            <p>Ce(tte) œuvre est mise à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licence Creative Commons Attribution -  Partage dans les Mêmes Conditions 4.0 International</a>.</p>
        </footer>

        <script src="http://{{ baseUrl }}/assets/js/html2pdf.node.js"></script>
        <script type="module" src="http://{{ baseUrl }}/assets/js/main.js"></script>

    </body>

</html>
